 /*skill bar in education page*/
 .skillbar {
    width: 100%;
    height: 100vh;
    background: rgb(244, 230, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5%;
}

 /*skill bar headings*/
.skillbar h3 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color:#A98787;
    font-size: 25px;
}

 /*for the progress bar*/
.progressbar {
    background: beige;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progressbar div {
    height: 10px;
    border-radius: 5px;
    width: 50%;
    background:#A98787;
}

 /*progress bar - remaining*/
.progressbar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: right;
    background:beige;
    margin-top: -15px;
    margin-right: -20px;
    color:#A98787;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: white;
}

 /*for specific skills*/
 .html {
    animation: html 2s ease forwards;
 }

 .css {
    animation: css 2s linear forwards;
 }

 .python {
    animation: python 2s ease forwards;
 }

 .java {
    animation: java 2s linear forwards;
 }

 .canva {
    animation: canva 2s ease forwards;
 }

 .figma {
    animation: figma 2s linear forwards;
 }

@keyframes html {
    100% {
        width: 85%;
    }
}

@keyframes css {
    100% {
        width: 80%;
    }
}

@keyframes python {
    100% {
        width: 75%;
    }
}

@keyframes java {
    100% {
        width: 65%;
    }
}

@keyframes canva {
    100% {
        width: 85%;
    }
}

@keyframes figma {
    100% {
        width: 85%;
    }
}